nav.navbar.navbar-dark.bg-primary.navbar-expand-lg
    .container 
        a.navbar-brand(href="#") Pug
        button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
            span.navbar-toggler-icon
        .collapse.navbar-collapse#navbarNav
            ul.navbar-nav.mr-auto  
                li.nav-item.active
                    a.nav-link(href="#") Home
                li.nav-item
                    a.nav-link(href="#") Blogs
                li.nav-item
                    a.nav-link(href="#") Course
                li.nav-item
                    a.nav-link(href="#") Login
                li.nav-item
                    a.nav-link(href="#") Register
