doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title  template engine pug
    body 

    div 
    header
     h2   TEMPLATE ENGINE PUG 
     p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique assumenda atque deserunt quo. 
     footer  FOOTER TEMPLATE 
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, ullam?
      a(href="www.google.com",target="_blank")