doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/static/style.css")
        title Template Engine Pug
    body
        div 
        header.red 
            h2.green #{section}
            p.yellow Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique assumenda atque deserunt quo.
        footer.green 
         h3.yellow FOOTER TEMPLATE
            p.yellow Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, ullam? .violet 
            a.violet(href=link, target="_blank") Google
